@page "/account/confirmphone"

<h1>Confirm Phone</h1>

<p>Please enter the code sent to your phone:</p>
<div class="form-floating mb-3">
    <InputText @bind-Value="code" class="form-control" autocomplete="000000" aria-required="true"
        placeholder="Please enter the Code." />
    <label class="form-label">Enter Code</label>
</div>
<button @onclick="ConfirmCode" class="btn btn-lg btn-primary">Confirm</button>

@if (!string.IsNullOrEmpty(statusMessage))
{
    <div class="alert alert-info">@statusMessage</div>
}
