@page "/account/enableauthenticator"

<button class="btn btn-link mb-3" type="button" @onclick="NavigateBack">
    <i class="bi bi-arrow-left"></i> Back
</button>

<h1>Configure authenticator app</h1>
@if (!string.IsNullOrEmpty(statusMessage))
{
    <div class="alert alert-info">@statusMessage</div>
}
@if (isLoaded)
{
    <ol class="list">
        <li>
            <p>
                Download a two-factor authenticator app like Microsoft Authenticator for
                <a href="https://go.microsoft.com/fwlink/?Linkid=825072">Android</a> and
                <a href="https://go.microsoft.com/fwlink/?Linkid=825073">iOS</a> or
                Google Authenticator for
                <a
                    href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&amp;hl=en">Android</a>
                and
                <a href="https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8">iOS</a>.
            </p>
        </li>
        <li>
            <p>
                Scan the QR Code or enter this key <kbd>@sharedKey</kbd> into your two factor authenticator app. Spaces and
                casing do not matter.
            </p>

            <div id="qrCode" class="p-2"></div>
        </li>
        <li>
            <p>
                Once you have scanned the QR code or input the key above, your two factor authentication app will provide
                you
                with a unique code. Enter the code in the confirmation box below.
            </p>
            <EditForm Model="enableAuthenticatorInputModel" OnValidSubmit="OnSubmitAsync">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <InputText @bind-Value="enableAuthenticatorInputModel.Code" class="form-control mb-2"
                    placeholder="Authenticator code" />
                <button class="btn btn-primary" type="submit">Verify</button>
            </EditForm>
        </li>
    </ol>
    @if (showRecoveryCodes && recoveryCodes != null && recoveryCodes.Length > 0)
    {
        <div class="alert alert-success mt-4">
            <h4>Recovery Codes</h4>
            <p>
                Save these recovery codes in a safe place. Each code can be used once to access your account if you lose access
                to your authenticator app.
            </p>
            <ul class="list-group mb-3">
                @foreach (var codes in recoveryCodes)
                {
                    <li class="list-group-item">@codes</li>
                }
            </ul>
        </div>
    }
}
else
{
    <p>Loading...</p>
}