@page "/account/externallogins"
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager
@using Microsoft.AspNetCore.Components.Authorization

<h1>External Logins</h1>
<p>External login management coming soon.</p>
@* You can add logic for linking/unlinking external logins here using UserManager and SignInManager. *@
