@page "/account/forgotpassword"

<h1>Forgot your password?</h1>
<h2>Enter your email.</h2>
<hr />
<EditForm Model="forgotModel" OnValidSubmit="HandleForgotPassword">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-floating mb-3">
        <InputText @bind-Value="forgotModel.Email" class="form-control" autocomplete="username" aria-required="true"
            placeholder="name@example.com" />
        <label class="form-label">Email</label>
        <ValidationMessage For="@(() => forgotModel.Email)" />
    </div>
    <button type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
</EditForm>
@if (!string.IsNullOrEmpty(statusMessage))
{
    <div class="alert alert-info mt-2">@statusMessage</div>
}
