@page "/account/lockout"

<h1>Remove Account Lockout</h1>
<p>
    If your account is locked out, enter your username and click the button below to receive a link by email.
    You will then be redirected to enter the code and remove the lockout.
</p>

@if (!string.IsNullOrEmpty(Message))
{
    <div>@Message</div>
}

<div class="mb-3">
    <label for="emailInput" class="form-label">Username</label>
    <input id="emailInput" class="form-control" @bind="Email" type="text" required autocomplete="username" />
</div>

<button class="btn btn-primary" @onclick="RequestCode" disabled="@IsLoading">
    @(IsLoading ? "Sending..." : "Send Unlock Link to Email")
</button>