<nav>
    <ul class="nav flex-column">
        <li class="nav-item"><a class="nav-link" href="/account/manage">Profile</a></li>
        <li class="nav-item"><a class="nav-link" href="/account/email">Email</a></li>
        <li class="nav-item"><a class="nav-link" href="/account/changepassword">Change Password</a></li>
        <li class="nav-item"><a class="nav-link" href="/account/externallogins">External Logins</a></li>
        <li class="nav-item"><a class="nav-link" href="/account/twofactorauthentication">Two-Factor Authentication</a></li>
        <li class="nav-item"><a class="nav-link" href="/account/personaldata">Personal Data</a></li>
    </ul>
</nav>
