@page "/account/manage"
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager
@inject NavigationManager NavigationManager

<h1>Manage Account</h1>
<p>Account management features coming soon.</p>
