@page "/account/personaldata"
@attribute [Authorize]

<h1>Personal Data</h1>
<p>Your email: @userEmail</p>
<button class="btn btn-danger" @onclick="DeletePersonalData">Delete Personal Data</button>
@if (!string.IsNullOrEmpty(statusMessage))
{
    <div class="alert alert-info mt-2">@statusMessage</div>
}
