@* @page "/account/profile" *@

<h3>Profile</h3>

@if (!string.IsNullOrEmpty(statusMessage))
{
    <div class="alert alert-info">@statusMessage</div>
}

@if (isLoaded)
{
    <div class="row">
        <div class="col-md-12">
            <EditForm Model="profileInputModel" OnValidSubmit="HandleChangeUsername">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <InputText @bind-Value="profileInputModel.NewUsername" class="form-control mb-2"
                    placeholder="New username" />
                <button class="btn btn-primary" type="submit">Change Username</button>
            </EditForm>

        </div>
    </div>
}
else
{
    <p>Loading...</p>
}
