@page "/account/resendemailconfirmation"
@attribute [Authorize]

<h1>Resend email confirmation</h1>
<h2>Enter your email.</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm Model="inputModel" OnValidSubmit="HandleResend">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="form-floating mb-3">
                <InputText @bind-Value="inputModel.Email" class="form-control" aria-required="true"
                    placeholder="name@example.com" />
                <label class="form-label">Email</label>
                <ValidationMessage For="@(() => inputModel.Email)" />
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Resend</button>
        </EditForm>
        @if (!string.IsNullOrEmpty(statusMessage))
        {
            <div class="alert alert-info mt-2">@statusMessage</div>
        }
    </div>
</div>
