@page "/account/resetpassword"
@using System.ComponentModel.DataAnnotations
@using System.Text
@using Microsoft.AspNetCore.WebUtilities

<h1>Reset password</h1>
<h2>Reset your password.</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm Model="resetModel" OnValidSubmit="HandleReset">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="form-floating mb-3">
                <InputText disabled @bind-Value="resetModel.Email" class="form-control" autocomplete="username"
                    aria-required="true" placeholder="name@example.com" />
                <label class="form-label">Email</label>
                <ValidationMessage For="@(() => resetModel.Email)" />
            </div>
            <div class="form-floating mb-3">
                <InputText @bind-Value="resetModel.Password" class="form-control" type="password"
                    autocomplete="new-password" aria-required="true" placeholder="Enter your password." />
                <label class="form-label">Password</label>
                <ValidationMessage For="@(() => resetModel.Password)" />
            </div>
            <div class="form-floating mb-3">
                <InputText @bind-Value="resetModel.ConfirmPassword" class="form-control" type="password"
                    autocomplete="new-password" aria-required="true" placeholder="Confirm your password." />
                <label class="form-label">Confirm password</label>
                <ValidationMessage For="@(() => resetModel.ConfirmPassword)" />
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Reset</button>
        </EditForm>
        @if (!string.IsNullOrEmpty(statusMessage))
        {
            <div class="alert alert-info mt-2">@statusMessage</div>
        }
    </div>
</div>