@page "/account/setpassword"
@using Microsoft.AspNetCore.Identity
@attribute [Authorize]

<h1>Set Password</h1>
@if (!string.IsNullOrEmpty(statusMessage))
{
    <div class="alert alert-info mt-2">@statusMessage</div>
}
@if (!hasPassword)
{
    <EditForm Model="setPasswordModel" OnValidSubmit="HandleSetPassword">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <InputText @bind-Value="setPasswordModel.NewPassword" class="form-control" type="password"
            placeholder="New password" />
        <InputText @bind-Value="setPasswordModel.ConfirmPassword" class="form-control" type="password"
            placeholder="Confirm new password" />
        <button type="submit" class="w-100 btn btn-lg btn-primary">Set Password</button>
    </EditForm>
}
else
{
    <p>
        Click <a href="/account/manage">here</a> to manage your account settings.
    </p>
}