@page "/account/twofactorauthentication"
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager
@using Microsoft.AspNetCore.Components.Authorization

<h1>Two-Factor Authentication</h1>
<p>Two-factor authentication management coming soon.</p>
@* You can add logic for enabling/disabling 2FA here using UserManager and SignInManager. *@
